.project-streakon {
  --color-text-400: #ffffff;
  --color-text-300: rgb(197, 197, 197);

  --color-hover: rgb(41, 41, 41);
  --color-hover-text: #ffffff;

  --color-accent-400: #fec600;
  --color-accent-text-400: rgb(44, 44, 44);

  --color-grayscale-500: rgb(25, 25, 25);
  --color-grayscale-400: rgb(33, 33, 33);

  --color-background-400: #141414;
  --color-background-300: #090909;
}
